@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #121212;
  overflow: hidden;
}
.flex-props-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-props-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  overflow-y: scroll;
}
@media (min-width: 768px) {
  /* Your CSS code here */
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: gray;
  }
  .page::-webkit-scrollbar {
    width: 10px;
  }
  .page::-webkit-scrollbar-thumb {
    background: gray;
    width: 7px;
    border-radius: 15px;
  }
  .playlist-songs-container::-webkit-scrollbar {
    width: 10px;
  }
  .playlist-songs-container::-webkit-scrollbar-thumb {
    background: gray;
    width: 7px;
    border-radius: 15px;
  }
}

.music-item:hover {
  border-radius: 7px;
}
.music-item:hover .music-button .play-button {
  display: flex;
}
.music-item:hover .controls {
  display: block;
}
.volume-slider {
  transform: rotate(270deg);
  z-index: 999;
}
.volume:hover .volume-slider {
  display: block;
  z-index: 999;
}

.volume-slider:hover {
  display: block;
}
.sheet::backdrop {
  background-color: black;
}
