@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #121212;
  overflow: hidden;
}
.flex-props-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-props-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  width: 7px;
  border-radius: 15px;
}
.music-button:hover .play-button {
  display: flex;
}

.volume-slider {
  transform: rotate(270deg);
}
.volume:hover .volume-slider {
  display: block;
}

.volume-slider:hover {
  display: block;
}
